<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>manechen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D578BD6A1D1228030002E5BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D578BD7E1D1228040002E5BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D578BD891D1228040002E5BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
